.projects{
    background-color: white;
    height: 70vh;
}

#pitch-logo{
    background-image: url(../../../../public/img/latest-pitch.png);
    height: 300px;
}

#moat-logo {
    background-image: url(../../../../public/img/logo-picture.png);
    height: 300px;
}


#social-logo{
    background-image: url(../../../../public/img/social.png);
    height: 300px;
}

/* ask Ta: how to add github & deployed link in the enlarged area. */

#calculator:hover {
    height: 400px;
}

#atm:hover {
    height: 400px;
}

#social:hover {
    height: 400px;
}